body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FA;
    color: #343C6A;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 1000px;
}

.sidebar {
    background: #fff;
    border-right: 1px solid #E6EFF5;
    padding: 30px 0px 30px 0px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 800;
    padding: 0px 30px;
    margin-bottom: 50px;
    color: #343C6A;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;
    color: #718EBF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav a img {
    width: 20px;
    height: 20px;
}

.nav a.active {
    color: #2D60FF;
    border-left: 4px solid #2D60FF;
}

.main-content {
    padding: 30px 40px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #FFFFFF; 
    padding: 0px 40px 0px 0px; 
    margin: -30px -40px 30px -40px; 
}


.header h1 {
    margin: 30px;
    font-size: 25px;
    font-weight: 700;
    color: #343C6A;
}

.toolbar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search-box {
    background: #F5F7FA;
    border-radius: 12px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.search-box img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    color: #8BA3CB;
    width: 100%;
    font-size: 14px;
}

.icon-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #E6EFF5;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button img {
    width: 20px;
    height: 20px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.grid-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.icon-circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.icon-circle img {
    width: 24px;
    height: 24px;
}

.yellow { background-color: #FFF5D9; }
.blue { background-color: #E7EDFF; }
.pink { background-color: #FFE0EB; }
.teal { background-color: #DCFAF8; }

.text-group p {
    margin: 0px;
    color: #718EBF;
    font-size: 14px;
}

.text-group b {
    margin: 5px 0px 0px 0px;
    font-size: 22px;
    display: block;
    font-weight: 700;
}

.grid-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
    color: #343C6A;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.link-small {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.list-box, .list-box-small, .chart-box {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;

}

.list-item {
    display: grid;
    grid-template-columns: 50px 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
    font-size: 14px;
}

.icon-round-bg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-round-bg img {
    width: 20px;
    height: 20px;
}

.bg-teal-light { 
    background-color: #DCFAF8; 
}
.bg-blue-light { 
    background-color: #FFF5D9; 
}
.bg-pink-light { 
    background-color: #FFE0EB; 
}
.bg-yellow-light { 
    background-color: #DCFAF8 !important; 
}

.item-info {
    margin-left: 10px;
}

.item-title {
    margin: 0px;
    font-weight: 600;
    color: #343C6A;
}

.item-date {
    font-size: 13px;
    color: #718EBF;
}

.col-type, .col-card, .col-status {
    color: #718EBF;
    text-align: center;
}

.col-card {
    font-size: 13px;
}

.col-amount {
    font-weight: 600;
    text-align: right;
}

.red { color: #FE5C73; }
.green { color: #16DBAA; }

.credit-card-box {
    background: #2D60FF; 
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    height: 200px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(45, 96, 255, 0.4); 
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-balance p {
    margin: 0px 0px 5px 0px;
    font-size: 12px;
    opacity: 0.8;
}

.card-balance b {
    font-size: 24px;
    font-weight: 700;
    display: block;
}

.chip-icon {
    width: 40px; 
    height: 35px;
    opacity: 1;
    margin-top: 16px;
}

.card-details {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    font-size: 12px;
    text-transform: uppercase;
}

.card-holder p, .card-valid p {
    margin: 0px 0px 5px 0px;
    opacity: 0.8;
}

.card-holder span, .card-valid span {
    font-weight: 600;
}

.card-number {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 45px;
    font-weight: 450;
}

.card-type-icon {
    position: absolute;
    bottom: 25px; 
    right: 25px;
    height: 35px;
    opacity: 0.8;
}

.list-item-small {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: 14px;
}

.icon-square-bg {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.icon-square-bg img {
    width: 20px;
    height: 20px;
}

.list-item-small .item-info {
    flex-grow: 1;
    margin-right: 15px;
}

.list-item-small .col-amount {
    color: #718EBF;
    font-weight: 500;
}

.chart-legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-desc {
    margin: 0px;
    font-weight: 500;
    color: #343C6A;
}

.keys {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #718EBF;
    font-weight: 500;
}

.keys div {
    display: flex;
    align-items: center;
}

.key-dot {
    width: 8px;
    height: 8px;
    border-radius: 30%;
    margin-right: 5px;
}

.blue-dot { background-color: #1A16F3; }
.orange-dot { background-color: #FCAA0B; }

.chart-subtitle {
    font-size: 14px;
    color: #718EBF;
    margin: 15px 0px;
}

.chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 220px;
}

.bar-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bars {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    height: 100%;
    margin-bottom: 10px;
}

.bar {
    width: 10px;
    border-radius: 7px 7px 7px 7px;
}

.b-blue { 
    background-color: #1A16F3; 
}
.b-orange { 
    background-color: #FCAA0B; 
}

.bar-group span {
    font-size: 12px;
    color: #718EBF;
}

.h30 { height: 60px;
      width: 25px;
     } 
.h40 { 
    height: 70px; 
    width: 25px;
} 
.h50 { 
    height: 100px; 
    width: 25px;
}
.h55 { 
    height: 85px; 
    width: 25px;
} 
.h60 { 
    height: 90px;
    width: 25px;
} 
.h70 { 
    height: 90px;
    width: 25px;
}
.h75 { 
    height: 155px;
    width: 25px;
} 
.h80 { 
    height: 70px; 
    width: 25px;
} 
.h85 { 
    height: 125px;
    width: 25px;
}
.h90 { height: 140px;
      width: 25px;
} 
.h95 { 
    height: 125px;
    width: 25px;
}


